/* start landing rules */ 
.landing {
    margin-top: 79px;
    display: flex;
    align-items: center;
    height: calc(100vh - 79px);
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0 , 0, .4);
        position: absolute;
        top: 0;
        left: 0;
    }
    .container {
        @media (min-width: 768px) {
            form {
                .email {
                    flex: 2;
                }
            }
        }
        @media (max-width: 767px) {
            h1 {
                font-size: 40px !important;
                text-align: center;
            }
            form {
                flex-direction: column;
                gap: 15px;
            }
        }
        position: relative;
        max-width: 700px;
        h1 {
            font-size: 60px;
            font-weight: 800;
            color: $white;
            text-transform: capitalize;
            letter-spacing: 1px;
            margin-bottom: 60px;
        }
        form {
            display: flex;
            input {
                display: block;
                padding-top: 15px;
                padding-bottom: 15px;
                font-size: 18px;
                letter-spacing: 1px;
                &.email {
                    background-color: $white;
                    padding-left: 10px;
                    padding-right: 10px;
                    border: 2px solid $white;
                    &::placeholder {
                        color: #a2a0a0;
                        text-transform: capitalize;
                        transition: $trans;
                    }
                    &:focus {
                        border-color: $yellow;
                        &::placeholder {
                            opacity: 0;
                        }
                    }
                }
                &.submit {
                    padding-left: 50px;
                    padding-right: 50px;
                    background-color: $yellow;
                    border: 2px solid $yellow;
                    text-transform: uppercase;
                    font-family: 600;
                    color: $title-c;
                    cursor: pointer;
                    &:hover {
                        background-color: $white;
                    }
                }
            }
        }
    }
}
/* start landing rules */ 

/* services */ 
.services {
    background-color: white;
    .container {
        h2 {
            font-size: 40px;
            text-align: center;
            font-weight: 800;
            text-transform: capitalize;
            letter-spacing: 1px;
            margin-bottom: 30px;
            color: $title-c;
        }
        & > p {
            font-size: 16px;
            text-align: center;
            line-height: 1.7;
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            color: $text-c;
        }
        .boxes {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            .box {
                padding: 40px 30px;
                box-shadow: 0 0 5px $eee;
                &.sky-box {
                    h3 {
                        font-size: 35px;
                    }
                    p {
                        margin-bottom: 30px;
                    }
                    a {
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 600;
                        color: $yellow;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        i {
                            font-size: 16px;
                            margin: 0;
                        }
                        &:hover {
                            opacity: .7;
                        }
                    }
                }
                i {
                    font-size: 50px;
                    color: $yellow;
                    display: block;
                    width: fit-content;
                    margin-bottom: 30px;
                    margin-left: auto;
                    margin-right: auto;
                }
                h3 {
                    font-size: 25px;
                    font-weight: 700;
                    color: $title-c;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    margin-bottom: 25px;
                    text-align: center;
                }
                p {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 1.7;
                    letter-spacing: 1px;
                    color: $text-c;
                    text-align: center;
                }
            }
        }
    }
}
/* services */

/* black-sec */ 
.black-sec {
    background-color: $title-c;
    .container {
        max-width: 700px;
        p {
            line-height: 1.6;
            color: $white;
            letter-spacing: 1px;
            margin-bottom: 50px;
            &:first-of-type {
                font-size: 20px;
                font-weight: 600;
            }
            &:last-of-type {
                font-size: 16px;
                font-weight: 500;
            }
        }
        .offers {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 30px;
            i {
                font-size: 30px;
                color: $yellow;
            }
            h3 {
                font-size: 30px;
                font-weight: 500;
                text-transform: capitalize;
                letter-spacing: 1px;
                color: $white;
            }
        }
    }
}
/* black-sec */

/* gallery */ 
.gallery {
    .container {
        h2 {
            font-size: 40px;
            color: $title-c;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            text-transform: capitalize;
            letter-spacing: 1px;
            max-width: 700px;
            margin-bottom: 30px;
        }
        .images {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 10px;
            .image {
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
/* gallery */

/* ask-us*/ 
.ask-us {
    @media (min-width: 768px) {
        background-image: url("../images/ask-desk.png") !important;
    }
    position: relative;
    height: calc(100vh - 79px);
    background-image: url("../images/ask-mob.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0 , 0, .4);
        position: absolute;
        top: 0;
        left: 0;
    }
    .container {
        @media (max-width: 767px) {
            h2, p, a {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
        position: relative;
        h2 {
            font-size: 40px;
            color: $white;
            text-transform: capitalize;
            letter-spacing: 1px;
            font-weight: 600;
            margin-bottom: 30px;
            max-width: 700px;
        }
        p {
            font-size: 16px;
            color: $white;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: fit-content;
            padding: 15px 50px;
            transition: $trans;
            background-color: $yellow;
            font-size: 18px;
            text-transform: uppercase;
            color: $title-c;
            letter-spacing: 1px;
            border: 2px solid $yellow;
            font-weight: 600;
            &:hover {
                background-color: $white;
                color: $yellow;
            }
        }
    }
}
/* ask-us*/ 

/* team */
.team {
    background-color: $eee;
    .container {
        h2 {
            font-size: 40px;
            color: $title-c;
            text-transform: capitalize;
            letter-spacing: 1px;
            text-align: center;
            margin-bottom: 30px;
        }
        .members {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            .member {
                background-color: $white;
                padding: 50px 25px;
                img {
                    display: block;
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 30px;
                }
                h3 {
                    font-size: 25px;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    color: $title-c;
                    text-align: center;
                    margin-bottom: 25px;
                }
                h4 {
                    font-size: 15px;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    color: $yellow;
                    text-align: center;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 16px;
                    line-height: 1.7;
                    color: $text-c;
                    letter-spacing: 1px;
                    text-align: center;
                    font-weight: 400;
                    margin-bottom: 30px;
                }
                .social {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    a {
                        i {
                            font-size: 25px;
                            color: $yellow;
                            transition: $trans;
                        }
                        &:hover {
                            i {
                                opacity: .6;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* team */

/* pricing */
.pricing {
    @media (min-width: 768px) {
        background-image: url("../images/pricing-desk.png") !important;
        background-size: 100% 50% !important;
        &::before {
            height: 50% !important;
        }
    }
    position: relative;
    background-color: white;
    background-image: url("../images/pricing-mob.png");
    background-size: 100% 70%;
    background-repeat: no-repeat;
    &::before {
        content: "";
        width: 100%;
        height: 70%;
        background-color: rgba(0, 0 , 0, .4);
        position: absolute;
        left: 0;
        top: 0;
    }
    .container {
        position: relative;
        h2 {
            font-size: 40px;
            text-transform: capitalize;
            letter-spacing: 1px;
            text-align: center;
            color: $white;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 1.7;
            color: $white;
            margin-bottom: 30px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            max-width: 700px;
        }
        .prices {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            .price {
                //padding: 40px 25px;
                background-color: $white;
                box-shadow: 0 0 10px $eee;
                h3 {
                    font-size: 20px;
                    text-align: center;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    color: $title-c;
                    padding-top: 40px;
                    margin-bottom: 30px;
                }
                h4 {
                    font-size: 60px;
                    text-align: center;
                    font-weight: 800;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    color: $title-c;
                    margin-bottom: 10px;
                }
                h5 {
                    font-size: 16px;
                    text-align: center;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    color: $title-c;
                    margin-bottom: 30px;
                }
                ul {
                    padding: 20px 50px;
                    li {
                        display: flex;
                        justify-content: center;
                        gap: 12px;
                        align-items: center;
                        margin-bottom: 15px;
                        .dot {
                            width: 8px;
                            height: 8px;
                            background-color: $title-c;
                            border-radius: 50%;
                        }
                        span {
                            font-size: 18px;
                            font-weight: 400;
                            color: $text-c;
                            text-transform: capitalize;
                        }
                    }
                    a {
                        display: flex;
                        padding: 15px 50px;
                        margin-top: 30px;
                        border-radius: 30px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        width: fit-content;
                        border: 2px solid $yellow;
                        background-color: $yellow;
                        transition: $trans;
                        font-size: 18px;
                        color: $white;
                        text-transform: capitalize;
                        letter-spacing: 1px;
                        font-weight: 600;
                        margin-left: auto;
                        margin-right: auto;
                        &:hover {
                            color: $title-c;
                            background-color: $white;
                            border-color: $title-c;
                        }
                    }
                }
                &.price-2 {
                    background-color: $yellow;
                    padding: 0;
                    ul {
                        background-color: $title-c;
                        li {
                            .dot {
                                background-color: $white;
                            }
                            span {
                                color: $white;
                            }
                        }
                        a {
                            &:hover {
                                border-color: $yellow;
                                color: $yellow;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* pricing */

/* users */
.users {
    background-color: $eee;
    .container {
        h2 {
            font-size: 40px;
            color: $title-c;
            text-align: center;
            text-transform: capitalize;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }
        & > p {
            font-size: 16px;
            color: $text-c;
            line-height: 1.7;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            max-width: 800px;
            margin-bottom: 30px;
        }
        .members {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            .member {
                padding: 25px 20px;
                background-color: $white;
                .profile {
                    margin-bottom: 30px;
                    img {
                        display: block;
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        margin: 0 auto 30px;
                    }
                    h3 {
                        font-size: 25px;
                        color: $yellow;
                        text-align: center;
                        text-transform: capitalize;
                        letter-spacing: 1px;
                        margin-bottom: 25px;
                    }
                    h4 {
                        font-size: 15px;
                        color: $title-c;
                        text-align: center;
                        text-transform: capitalize;
                        letter-spacing: 1px;
                    }
                }
                .text {
                    p {
                        font-size: 16px;
                        line-height: 1.7;
                        letter-spacing: 1px;
                        text-align: center;
                        color: $grey;
                    }
                }
            }
        }
    }
}
/* users */

/* clients */
.clients {
    background-color: $white;
    .container {
        h2 {
            font-size: 40px;
            text-align: center;
            color: $title-c;
            text-transform: capitalize;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }
        p {
            font-size: 16px;
            color: $text-c;
            letter-spacing: 1px;
            line-height: 1.7;
            margin-bottom: 40px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            max-width: 800px;
        }
        .client-brands {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        }
    }
}
/* clients */

/* help */
.help {
    background-color: $eee;
    .container {
        @media (min-width: 768px) {
            & > div {
                width: calc(50% - 15px) !important;
                flex-wrap: nowrap !important;
            }
        }
        display: flex;
        flex-wrap: wrap;
        gap: 30px; 
        & > div {
            width: 100%;
        }
        .panel {
            h2 {
                font-size: 30px;
                text-transform: capitalize;
                letter-spacing: 1px;
                color: $title-c;
                margin-bottom: 30px;
            }
            & > p {
                font-size: 15px;
                font-weight: 600;
                color: $title-c;
                line-height: 1.7;
                margin-bottom: 30px;
                letter-spacing: 1px;
            }
            .boxes {
                .box {
                    margin-bottom: 30px;
                    .question {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 20px;
                        cursor: pointer;
                        color: $title-c;
                        padding-left: 30px;
                        padding-right: 30px;
                        &.active {
                            color: $yellow;
                        }
                        h3 {
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 1.7;
                            letter-spacing: 1px;
                        }
                        i {
                            font-size: 20px;
                        }
                    }
                    p {
                        padding: 40px 30px 100px 40px;
                        background-color: $white;
                        font-size: 16px;
                        font-weight: 400;
                        color: $text-c;
                        letter-spacing: 1px;
                        line-height: 1.7;
                        &.hide {
                            display: none;
                        }
                    }
                }
            }
        }
        .text {
            p {
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 1.7;
                color: $text-c;
                font-weight: 400;
            }
        }
    }
}
/* help */

/* contact */
.contact {
    background-color: $title-c;
    .container {
        .contact-info {
            margin-bottom: 50px;
            @media (min-width: 768px) {
                & > div {
                    width: calc(50% - 15px) !important;
                    flex-wrap: nowrap !important;
                }
            }
            @media (max-width: 767px) {
                .info {
                    h2, p {
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    img {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                .form {
                    h3, p {
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
            display: flex;
            flex-wrap: wrap;
            gap: 30px; 
            & > div {
                width: 100%;
            }
            .info {
                h2 {
                    font-size: 40px;
                    color: $white;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    margin-bottom: 20px;
                }
                img {
                    display: block;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    margin-bottom: 25px;
                }
                p {
                    font-size: 15px;
                    color: $white;
                    line-height: 1.7;
                    letter-spacing: 1px;
                    margin-bottom: 30px;
                    max-width: 500px;
                }
            }
            .form {
                h3 {
                    font-size: 20px;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    color: $white;
                    font-weight: 500;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 16px;
                    color: $white;
                    letter-spacing: 1px;
                    line-height: 1.7;
                    margin-bottom: 30px;
                }
                form {
                    @media (min-width: 768px) {
                        flex-wrap: nowrap !important;
                        gap: 0 !important;
                        input {
                            &.email {
                                flex: 1;
                            }
                            &.submit {
                                width: fit-content;
                            }
                        }
                    }
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    input {
                        padding-top: 15px;
                        padding-bottom: 15px;
                        display: block;
                        font-size: 16px;
                        letter-spacing: 1px;
                        transition: $trans;
                        width: 100%;
                        &.email {
                            border: 2px solid $white;
                            padding-left: 10px;
                            padding-right: 10px;
                            background-color: $white;
                            &::placeholder {
                                transition: $trans;
                                color: #e4e2e2;
                            }
                            &:focus::placeholder {
                                opacity: 0;
                            }
                        }
                        &.submit {
                            padding-left: 50px;
                            padding-right: 50px;
                            text-align: center;
                            border: 2px solid $yellow;
                            background-color: $yellow;
                            text-transform: uppercase;
                            font-weight: 600;
                            color: $title-c;
                            &:hover {
                                background-color: $white;
                            }
                        }
                    }
                }
            }
        }
        .static-info {
            @media (min-width: 768px) {
                & > div {
                    width: calc(50% - 15px) !important;
                    flex-wrap: nowrap !important;
                }
            }
            display: flex;
            flex-wrap: wrap;
            gap: 30px; 
            & > div {
                width: 100%;
                display: flex;
                gap: 20px;
                align-items: flex-start;
                i {
                    font-size: 30px;
                    color: $yellow;
                }
                h4 {
                    font-size: 25px;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    color: $white;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 16px;
                    color: $white;
                    letter-spacing: 1px;
                    line-height: 1.7;
                }
            }
        }
    }
}
/* contact */